<!-- Show approved Loan -->
<div class="main-content" id="approved-loan">
    <div class="container">
        <h1 class="text-center">All Approved Loan List</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Customer</th>
                        <th>Loan Amount</th>
                        <th>Loan Term</th>
                        <th>Loan Status</th>
                        <th>Applied Date</th>
                        <th>Payment Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let loanList of approvedLoanList) { %>
                        <tr class="loan-details">
                            <td><%= loanList.customer.name %></td>
                            <td><%= loanList.amount %> </td>
                            <td><%= loanList.term %> </td>
                            <td><%= loanList.status %> </td>
                            <td><%= loanList.appliedDate%> </td>
                            <td>Due</td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
